/// from https://css-tricks.com/snippets/sass/viewport-sized-typography-minimum-maximum-sizes/
/// Viewport sized typography with minimum and maximum values
///
/// @author Eduardo Boucas (@eduardoboucas)
///
/// @param {Number}   $responsive  - Viewport-based size
/// @param {Number}   $min         - Minimum font size (px)
/// @param {Number}   $max         - Maximum font size (px)
///                                  (optional)
/// @param {Number}   $fallback    - Fallback for viewport-
///                                  based units (optional)
///
/// @example scss - 5vw font size (with 50px fallback), 
///                 minumum of 35px and maximum of 150px
///  @include responsive-font(5vw, 35px, 150px, 50px);
///
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;
  
  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }
  
  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;
    
    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }
  
  @if $fallback {
    font-size: $fallback;
  }
  
  font-size: $responsive;
}


html,
body {
  padding: 0;
  min-height: 100%;
}

#title-container {
  display: flex;
  position: relative;

  width: 39vw;
  min-width: 320px;
  margin-bottom: 10px;
  margin-right: 4%;

  align-items: center;
  justify-content: space-around;
}

#title-icon {
  position: relative;

  width: 10vw !important;
  min-width: 80px;

  height: 10vw !important;
  min-height: 80px;
  margin-right: -18px;
}

#nightlife-title {
  font-family: 'Timmana', sans-serif;

  display: inline-block;

  transform: rotate(-12deg);

  @include responsive-font(8vw, 62px, 150px);
}

#powered-by {
  position: absolute;
  font-family: cursive;
  right: 0;
  font-size: 12px;
  margin-top: 30px;
}

#yelp-logo {
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 5px;

  width: 5vw;
  min-width: 70px;
}


.cards-container {
  display: flex;

  width: 80vw;
  max-height: 8000px;

  align-items: center;
  flex-flow: column wrap;
  justify-content: flex-start;
}

@media (max-width: 1300px) {
  .cards-container {
    max-height: 6500px;
  }
}

@media (max-width: 1150px) {
  .cards-container {
    max-height: 6000px;
  }
}

// Setup for Mobile
@media (max-width : 900px) {
  .cards-container {
    width: 100%;
    max-height: 100%;
  }
}

#synt4rt-logo {
  display: inline-block;
  z-index: 2;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bolder;
  color: var(--cream);
  transform: rotate(-10deg);
  text-shadow: rgba(0, 0, 0, 0.3) 1px 2px;
  font-size: 20px;
  margin-right: 10px;
}